<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689331484979-c4if3drdt04lc4m4aul76dbp2nrdbhhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689331484979-c4if3drdt04lc4m4aul76dbp2nrdbhhu</string>
	<key>API_KEY</key>
	<string>AIzaSyBAGONNvsca-AZcovJPeTSkjC2w3NgwB3I</string>
	<key>GCM_SENDER_ID</key>
	<string>689331484979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gcmApp</string>
	<key>PROJECT_ID</key>
	<string>aplicativo-gcm</string>
	<key>STORAGE_BUCKET</key>
	<string>aplicativo-gcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689331484979:ios:289a27b19849cd1c742646</string>
</dict>
</plist>